body {
  margin: 0px;
  overflow: hidden;
}

/* Color the '::after' psuedo-element, which is where the handle color is specified */
.ant-slider .ant-slider-handle-2::after {
  background-color: green;
}

/* Element for the current count position should be in front of other elements */
.ant-slider .ant-slider-handle-2 {
  z-index: 1;
}

.ant-space.ant-dropdown-trigger > .ant-space-item {
  color: white;
  height: 44px;
  margin-top: -17px;
}

.ant-space.ant-dropdown-trigger > .ant-space-item:hover {
  cursor: pointer;
}
